.search-bar {
    grid-column: 1 / span 2;
  }
  
.search-bar input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #606c38;
}

.group-card {
    background-color: #e9ede6;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.group-card:hover {
    background-color: #cad2c5;
}
