
  .loading, .error {
    font-size: 18px;
    color: #999;
    margin-top: 20px;
  }
  
  .loading {
    color: #007bff;
  }
  
  .error {
    color: #ff4d4f;
  }


 .profile-container { 
  /* max-width: 800px; */
  /* margin: 0 auto; */
  padding: 20px;
  font-family: Arial, sans-serif;
  /* background-color: #f9f9f9; */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
} 

.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  border-bottom: 2px solid #eaeaea;
  padding-bottom: 20px;
}

.profile-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  border: 3px solid #606c38;
}

.profile-details {
  flex-grow: 1;
}

.profile-details h1 {
  margin: 0 0 10px;
  font-size: 1.8em;
  color: #333;
}

.profile-details p {
  margin: 5px 0;
  font-size: 1.1em;
  color: #555;
}

.profile-posts h2 {
  margin-top: 20px;
  font-size: 1.5em;
  color: #606c38;
  border-bottom: 2px solid #606c38;
  padding-bottom: 5px;
}

.loading, .error {
  text-align: center;
  color: #555;
  font-size: 1.2em;
}

.edit-profile-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#edit-profile-title {
  border-bottom: none;
}

.edit-profile-buttons-container {
  display: grid;
}

#edit-profile-buttons{
  margin-bottom: 8px;
  padding: 4px 8px;
}

#edit-profile-button {
  margin-right: 8px;
}