.split-screen-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
}

.split-screen-left {
    grid-column: 1;
    border-right: 1px solid #ddd;
    padding: 20px;
    justify-content: center;
}

.split-screen-right {
    grid-column: 2;
    padding: 5px;
    display: flex;
    justify-content: center;
}
