.split-screen-container {
    display: flex;
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    gap: 20px;
  }
.split-screen-content {
    flex: 1;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    padding-right: 60px;
  } 


.split-screen-filter-container {
    grid-column: 1 / span 2;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  .split-screen-filter-container button {
    margin-right: 10px; /* Adds space to the right of each button */
    border: none;
  }

  .split-screen-right{
    grid-column: 2;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%
  }

  .split-screen-left{
    grid-column: 1;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow-y: auto;
    max-height: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }


